<div class="jumbotron" style="background-color: white; background-image: url('/assets/intro.png')">
    <h1>Bem-vindo</h1>
    <h4>Encontre locais interessantes ao seu redor</h4>
        <h4>apenas informando o local e o raio de busca!</h4>
    <br>
    <%= render :partial => 'search/search' %>
</div>

<p><%= link_to 'Usuários:', users_path %> <%= User.count %> registrados</p>
