<h3>Resultado da busca</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nome do local</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <% @results.each do |result| %>
            <tr>
                <td><%=result['name'] %></td>
                <td>
                    <% result['types'].each do |type| %>
                        <span class='label label-info'><%= @dict[type.to_sym] %></span>
                    <% end %>

                    <% if result['opening_hours'] != nil %>
                        <span class='label label-success'><%= 'aberto agora' if result['opening_hours']['open_now'] %></span>
                    <% end %>
                </td>
                <td><td><%= link_to 'Mostrar', search_show_path(:place_id => result['place_id']), class: 'btn btn-success' %></td></td>
            </tr>
        <% end %>
    </tbody>
</table>

