<h3>Editar dados</h3>

<%= render 'form', userdatum: @userdatum, label: "Salvar modificações" %>

<%= link_to 'Mostrar', @userdatum, class: "btn btn-success" %>
<%= link_to 'Voltar', userdata_path, class: "btn btn-default" %>
