<div>
    <h3>Painel do Usuário</h3>

    <br>

    <%= render :partial => '/search/search' %>

    <br>

    <%= render :partial => 'userdata/userdata_list' %>

    <br>

    <%= render :partial => 'reviews/review_list' %>

    <br>

    <%= render :partial => 'users/friends_list' %>
</div>