<div>
    <h2>Painel do Usuário</h2>

    <br>

    <%= render :partial => '/search/search' %>

    <br>

    <%= render :partial => 'userdata_list' %>

    <br>

    <%= render :partial => 'reviews/review_list' %>

    <br>

    <%= render :partial => 'users/friends_list' %>
</div>




