<h4><span class="glyphicon glyphicon-user"></span> Amigos</h4>

<% if @friends.empty? %>

    Nenhum amigo

<% else %>

    <% @friends.each do |friend| %>

        <% if User.exists?(friend.friend_id) %>

            <div class="col-md-2 text-center">
                <% user = User.find(friend.friend_id) %>

                <%= render user %>

                <% if @user == current_user %>
                    <%= link_to 'Cancelar amizade', cancel_friend_path(friend_id: User.encrypt(friend.friend_id)), method: :delete, data: {confirm: 'Você tem certeza?'}, class: 'btn btn-danger pull' %>
                <% end %>
            </div>

        <% end %>

    <% end %>

<% end %>

