<div class="container">
    <div class="row">
        <h3>Usuários</h3>

        <table class="table">
            <thead>
            <tr>
                <th colspan="1"></th>
                <th>Nome</th>
                <th>E-Mail</th>
            </tr>
            </thead>

            <tbody>
            <% @users.each do |user| %>
                <tr>
                    <%= render user %>
                </tr>
            <% end %>
            </tbody>
        </table>

    </div>
</div>
