<table class="table table-hover">
  <thead>
    <tr>
      <th>Solicitante</th>
      <th>Solicitado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friendRequest.each do |friend| %>
      <tr>
        <td><%= User.find(friend.user_id).name %></td>
        <td><%= User.find(friend.friend_id).name %></td>
        <td><%= link_to 'Aceitar', accept_friend_path(id: User.encrypt(current_user.id), friend_id: User.encrypt(friend.user_id)), class: 'btn btn-success' %></td>
        <td><%= link_to 'Recusar convite', cancel_request_path(friend_id: User.encrypt(friend.user_id)), method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>