<% content_for :title do %>Sobre<% end %>
<h3>Sobre o site</h3>
<p>Este é um projeto em andamento da disciplina MAC0218 Técnicas de Programação 2 IME-USP 2017.</p>

<h3>Descrição</h3>
<p>Aplicação para incentivar os moradores a explorarem o que há de melhor em seu bairro, a pé ou de bike. A idéia é sugerir roteiros baseados em pontos de interesses, como espaços públicos, estabelecimentos e eventos, para o usuário experimentar o desconhecido próximo a ele.</p>

<h3>Desenvolvedores</h3>
<p>Caio Henrique Silva Ramos</p>
<p>Julio Kenji Ueda</p>
<p>Leonardo Araujo Benicio dos Santos</p>
<p>Ricardo Akira Tanaka</p>
<p>Rubens Douglas Roccia</p>
