<div class="authform">
  <%= form_for @neighborhood do |f| %>
    <h3>Create new Neighborhood</h3>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>
    
    <%= f.submit 'Create neighborhood', :class => 'button right' %>
  <% end %>
</div>
